.header {
  display: grid;
  background-color: #2F80ED;
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  margin-bottom: 25px;
  padding: 1%;
  width: 98%;
}

.header--caption {
  background-color: #2F80ED;
  color: #ffffff;
  font-size: 46px;
  text-align: center;
}

.header--signin_field {
  display: grid;
}

.login_button {
  align-self: start;
  justify-self: end;
  width: 140px;
  height: 30px;
  color: #eeebf0;
  background-color: #333333;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.login_button:hover {
  background-color: #eeebf0;
  color: #333333;
}
